@import '../../App.scss';
.Footer{
    width: 100%;
    display: flex;
    justify-content: space-around;

    button{
        border-radius: $button-border-radius;
        width: 70px;
        height: 70px;
        font-size: 35px;
        border: 1px solid $purple;
        cursor: pointer;
        &.active{
            background-color: $blue;
            color: $white;
        }
        &.inactive{
            background-color: $white;
            color: $blue;
            &:hover{
                background-color: $blue;
                color: $white;
            }
        }
    }
    
}