$button-border-radius: 10px!important;
$content-border-radius: 30px!important;
$blue: #000259!important;
$purple: #999ABD!important;
$white: #FFF!important;
$grey: #C4C4C4!important;
$red: #A60067!important;
$green: #00C49A!important;
$text-big: 36px!important;
$text-medium: 18px!important;
$text-small: 16px!important;